@font-face {
  font-family: 'iconfont';  /* project id 833285 */
  src: url('//at.alicdn.com/t/font_833285_4g9qwbkykc7.eot');
  src: url('//at.alicdn.com/t/font_833285_4g9qwbkykc7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_833285_4g9qwbkykc7.woff') format('woff'),
  url('//at.alicdn.com/t/font_833285_4g9qwbkykc7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_833285_4g9qwbkykc7.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
